body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  
}

form, button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, button {
  width: 100%;
  margin-bottom: 15px;
}

input[type="text"], input[type="submit"], button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"], button {
  background-color: #4CAF50;
  font-size: large;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover, button:hover {
  background-color: #45a049;
}
#apiButton{
  background-color: blue;
  font-size: x-large;
}

/* New CSS for the 'exist' div */
#exist {
  background-color: #e7f3fe;
  border: 1px solid #b3d7ff;
  text-align: left;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: xx-large;
  text-align: left;
}
#background {
  display: grid;
  grid-template-columns: 60% 40%;
  background-image: url(header.jpg);
  background-size: 100%;
  width: 10%;
  height: 40%;
  background-repeat: no-repeat;

  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: border to enhance frosted effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
  
  border-radius: 5px
}




#mastercont{
  display: table-column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  form, button {
    width: 92.5%;
    padding: 15px;
    
  }

  #exist {
    font-size: medium;
    padding: 10px;
  }
  #apiButton{
    font-size: x-large;
    
  }
  #mastercont{
    width: 100%;
    
  }
  #background{
    width: 100%;
    grid-template-columns: 60% 40%;
  }
  
}
